* {
    box-sizing: border-box;
}
body {
    background-image: url("../images/backgroundImg.png");
    height: auto;
    width: auto;
    background-repeat: no-repeat;
    background-position-y: 80px;
    background-position-x: center;
    position: relative;
}
#start {

    height: 35px;
    width: 50px;
    margin: 20px 0 0 0;
    background-color: lime;
}
li {
    display: inline-block;
    padding: 10px;
}
#drinkShuffle {
    color: rgb(138,43,226);
}
h1 {
    line-height: 20px;
    font-size: 40px;
}
img {
    max-height: 40px;
    width: auto;
}


.image {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
  }
.ing:hover {
      transform: scale(1.5);
  }

#headline {
    display: inline-flex;
    justify-content: space-evenly;
    width: 100%;
    height: 20px;
}
#liquors {
    display:inline-flex;
    height: 50px;
    width: 600px;
    justify-content: space-between;
    margin: 60px 0 0 0;
}

#components {
    display: flex;
    flex-direction: column;
    margin: 50px 0 0 300px;
    height: auto;
    width: auto;
    position: relative;
    align-content: space-between;
}
#navBtns {
    float: right;
    margin: 55px 400px 40px 0;
    background-color: indigo;
}

.ingBox {
width: 55px;
height: 25px;

}

 #cranId {
    background-image: url("../images/cranberryjuiceColor.png");
 }
 #limeJuiceId {
    background-image: url("../images/limejuiceColor.png");
 }
 #bittersId {
    background-image: url("../images/bittersColor.png");
 }
 #cointreauId {
    background-image: url("../images/cointreauColor.png");
 }
 #absintheId {
    background-image: url("../images/absintheColor.png");
 }
 #simpsyrupId {
    background-image: url("../images/simplesyrupColor.png");
 }
 #grapefruitId {
    background-image: url("../images/grapefruitColor.png");
 }
 #champagneId {
    background-image: url("../images/champagneColor.png");
 }
 #cognacId {
    background-image: url("../images/cognacColor.png");
 }
 #gingerbeerId {
    background-image: url("../images/gingerbeerColor.png");
 }
 #vermouthId {
    background-image: url("../images/vermouthColor.png");
 }
 #lemonJuiceId {
    background-image: url("../images/lemonjuiceColor.png");
 }
 #campariId {
    background-image: url("../images/campariColor.png");
 }
 #sugarId {
    background-color: white;
 }
 #orangePeelId {
    background-color: orange;
 }
 #saltId {
    background-color: white;
 }
 #limeId {
    background-color: green;
 }
#bourbonId {
    background-image: url("../images/bourbonColor.png");
}
#vodkaId {
    background-image: url("../images/vodkaColor.png");
}
#ginId {
    background-image: url("../images/ginColor.png");
}
#whiskeyId {
    background-image: url("../images/whiskeyColor.png");
}
#tequillaId {
    background-image: url("../images/tequillaColor.png");
}
#darkRumId {
    background-image: url("../images/darkRumColor.png");
}
#lightRumId {
    background-image: url("../images/lightRumColor.png");
}

#glass {
    display: flex;
    flex-direction: column-reverse;
    background-image:  url("../images/drinkingglass.png");
    background-size: cover;
    background-position-x: -35px;
    height: 145px;
    width: 80px;
    background-repeat: no-repeat;
    padding: 0 0 30px 10px;
    float: right;
    margin: -230px 400px 0 0;
    position: relative;
}
#garnish {
    margin: 40px 0 0 0;
}
#topshelf {
    margin: 0 0 30px 0;
}
#x {
    color: purple;
}
#serveDrink {
    background-color: lime;
}