* {
    box-sizing: border-box;
}
body {
    background-image: url("../images/backgroundImg.png");
    height: auto;
    width: auto;
    background-repeat: no-repeat;
    background-position-y: 80px;
}
li {
    display: inline-block;
    padding: 10px;
}
img {
    max-height: 40px;
    width: auto;
}
h1 span {
    background-color: lightgrey;
}
.image {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
  }
  .ing:hover {
      transform: scale(1.5);
  }

  #glass {
      display: flex;
      border: solid black;
      flex-direction: column-reverse;
      background-image:  url("../images/drinkingglass.png");
      height: 200px;
      width: 200px;

  }
#liquors {
    display:inline-flex;
}

#components {
    display: flex;
    flex-direction: column;
}

  .cranBox {
      background-color: red;
      position:absolute;
      width: 40px; /*this needs to be the width of the parent container */
      height: 40px;
  }


  .limeBox {
    background-color: green;
    position:absolute;
    width: 40px; /*this needs to be the width of the parent container */
    height: 40px;
}